@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

* {
  box-sizing: border-box;
}

/*Main scroll bar update*/
html,
body {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
  /*safari / chrome*/
}

/* Main app.tsx scrollbar container removal */
#app-scroll {
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

#app-scroll::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none;
}

/* wrap title and arrow */
.row-title {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  color: #E5E7EB;
}

/* arrow default state */
.row-title .arrow-right {
  display: inline-flex;
  align-items: center;
  color: #9CA3AF;
  transform: translateX(0);
  transition: transform 0.25s ease, color 0.25s ease;
}

.row-title .arrow-right svg {
  width: 22px;
  height: 22px;
}

/* hover anywhere on title */
.row-title:hover .arrow-right {
  transform: translateX(8px);
  color: #E5E7EB;
}

@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 2s linear infinite;
}

.divider-green {
  display: inline-block;
  width: 2px;
  height: 16px;
  background-color: rgb(34 197 94);
  border-radius: 2px;
}

#username,
#email,
#password,
#confirmPassword,
textarea,
select {
  outline: none;
  color: #ffffff !important;
  border: 1px solid rgba(52, 211, 153, 0.3) !important;
}

#username:focus,
#email:focus,
#password:focus,
#confirmPassword:focus,
textarea:focus,
select:focus {
  outline: none;
  outline: none !important;
  border: 1px solid rgb(52, 211, 153) !important;
  box-shadow: none !important;
}

/* Autofill override — App Router safe */
/* In your global CSS file */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px #020617 inset !important;
  box-shadow: 0 0 0 1000px #020617 inset !important;
  -webkit-text-fill-color: #ffffff !important;
  transition: background-color 9999s ease-in-out 0s;
}

@keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translate(-50%, 10px);
  }

  to {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}

.animate-fade-in-up {
  animation: fade-in-up .35s ease-out;
}

@keyframes shimmer {
  0% {
    background-position: 0% 0%;
  }

  100% {
    background-position: -200% 0%;
  }
}

#searchBarCancel:hover {
  background: #1275ff;
}